local.properties
.idea
.gradle
/build/
gradle.properties
gradle-app.setting
!gradle-wrapper.jar
my.keystore
.gradletasknamecache
gradle/wrapper/gradle-wrapper.properties
app/*.apk
autoInjectionTool/node_modules